.grey {
	background-color: $bg-color;
	padding-top: 30px;
	padding-bottom: 30px;
}

.text-title {
	font-weight: bold;
	text-align: center;
	@include bp(large-up) {
		text-align: left;
	}
}
.text-content {
	margin-top: 20px;
	@include bp(large-up) {
		margin-left: 30px;	
	}
}

.item {
	margin-top: 30px;
}
.ico span {
	display: block;
	@include bp(medium) {
		margin: 0 auto;	
	}

	text-align: center;
	color: white;
	@include responsive(font-size, 40px, 30px, 20px);
	@include responsive(width, 80px, 60px, 40px);
	@include responsive(height, 80px, 60px, 40px);
	@include responsive(line-height, 80px, 60px, 40px);
	background-color: $primary-color;
	@include responsive(border-radius, 40px, 30px, 20px);
}



.ico-info {
	display: inline-block;
	float: left;
	.info-title {
		font-weight: bold;
		color: $text-color;
		position: relative;
		padding-bottom: 5px;
		@include bp(medium) {
			text-align: center;	
		}
		border-bottom: 1px solid $text-color;
		// &:after {
		// 	content: "";
		// 	width: 70px;
		// 	height: 1px;
		// 	background-color: $text-color;
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// }		
	}
	.info-cont {
		@include bp(medium) {
			text-align: center;	
		}
	}
}